.button {
  border-radius: 50px;
  min-height: 50px;
  padding: 15px 50px;
  border: 1px solid transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #ffffff;
  color: #022035;

  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px hsla(0, 0%, 50%, 0.2);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.solid {
  background-color: #022035;
  color: #ffffff;

  &:focus {
    outline: 2px solid #40b4e5;
  }
}

.outlined {
  border: 1px solid #022035;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  svg {
    width: 10px;
    height: 12px;
  }
}

.label {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
}
