section {
  text-align: justify;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 0;
}
