.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 250px;
  border-radius: 6px;
  background-color: #022035;
  color: #fff;
  opacity: 0.6;
  margin: 10px;
}

.big {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 500px;
  border-radius: 6px;
  background-color: #022035;
  color: #fff;
  opacity: 0.6;
  margin: 10px;
}

.container {
  max-width: 600px;
  min-height: 320px;
  margin-bottom: 50px;
}
