.sampleform {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 540px;
  text-align: justify;
}

.item {
  margin-bottom: 10px;
  width: 100%;
}

.formErrors {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-radius: 6px;
  padding-bottom: 20px;
  background-color: #FFCCCC;
  margin: 20px;
}
