.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.label {
  color: #022035;
}

.input {
  border-radius: 6px;
  border: 1px solid #989a9b;
  color: #989a9b;
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
}

.error {
  border: 1px solid #eb002a;
}

.errorMessage {
  color: #eb002a;
  padding-top: 3px;
  opacity: 0.6;
}
