.anchor {
  color: #022035;
}

.button {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 15px 50px;
  border: 1px solid transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #ffffff;
  color: #022035;
  text-decoration: none;

  svg {
    padding-left: 10px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px hsla(0, 0%, 50%, 0.2);
  }
}

.solid {
  background-color: #022035;
  color: #ffffff;

  &:focus {
    outline: 2px solid #40b4e5;
  }
}

.outlined {
  border: 1px solid #022035;
}
