.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.control {
  border: 1px solid darkred;
  border-radius: 6px;
  cursor: pointer;
}

.active {
  background-color: darksalmon;
}

.content {
  display: flex;
  align-items: center;
  cursor: grab;
}
