.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

  select {
    border-radius: 6px;
    min-height: 42px;
    border: 1px solid #989a9b;
    color: #989a9b;
    font-size: 18px;
    line-height: 20px;
  }
}

.error {
  select {
    border: 1px solid #eb002a;
  }
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.label {
  color: #022035;
}

.errorMessage {
  color: #eb002a;
  padding-top: 3px;
  opacity: 0.6;
}
